*{
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}

/* Fonts */
@import url('https://fonts.googleapis.com/css2?family=Inter:ital,opsz,wght@0,14..32,100..900;1,14..32,100..900&display=swap');

.font-inter{
    font-family: "Inter", sans-serif;
    font-optical-sizing: auto;
}

/* reusable styles */

.btn{
    padding: 12px 16px;
    border-radius: 1000px;
    border: none;
    background: linear-gradient(47.64deg,rgba(247, 233, 63, 1),rgba(251, 9, 180, 1),rgba(145, 0, 248, 1));
}
.btn a{
    text-decoration: none;
    color: #fff;
}
.btn i{
    color: #fff;
    transition: transform 0.3s ease;
}
.btn:hover i {
  transform: translateX(6px);
}

/* nav section styles */

nav{
    padding: 16px 200px;
    display: flex;
    justify-content: space-between;
    align-items: center;
    background-color: #1a0b2e;
}
nav .logo{
    color: #fff;
}
nav .logo h1 span{
    background: linear-gradient(90deg,rgba(247, 233, 63, 1),rgba(251, 9, 180, 1),rgba(145, 0, 248, 1));
                -webkit-background-clip: text;
                -webkit-text-fill-color: transparent;
}   
nav ul{
    display: flex;
    gap: 32px;
}
nav ul li{
    list-style: none;
}
nav ul li a{
    text-decoration: none;
    color: #fff;
    font-size: 16px;
    font-weight: 500;
}
nav ul li a:hover{
    background: linear-gradient(90deg,rgba(247, 233, 63, 1),rgba(251, 9, 180, 1),rgba(145, 0, 248, 1));
                -webkit-background-clip: text;
                -webkit-text-fill-color: transparent;
} 





