*{
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}

/* Fonts */
@import url('https://fonts.googleapis.com/css2?family=Inter:ital,opsz,wght@0,14..32,100..900;1,14..32,100..900&display=swap');

.font-inter{
    font-family: "Inter", sans-serif;
    font-optical-sizing: auto;
}

/* reusable styles */

.container{
    max-width: 1600px;
}

.btn{
    padding: 12px 20px;
    border-radius: 1000px;
    border: none;
    background: linear-gradient(47.64deg,rgba(247, 233, 63, 1),rgba(251, 9, 180, 1),rgba(145, 0, 248, 1));
}
.btn a{
    text-decoration: none;
    color: #fff;
    font-size: 1rem;
}
.btn i{
    color: #fff;
    transition: transform 0.3s ease;
}
.btn:hover i {
  transform: translateX(6px);
}

/* nav section styles */

nav{
    padding: 16px 200px;
    display: flex;
    justify-content: space-between;
    align-items: center;
    background-color: #1a0b2e;
    border-bottom: 2px solid #ffffffc4;
}
nav .logo{
    color: #fff;
}
nav .logo h1 span{
    background: linear-gradient(90deg,rgba(247, 233, 63, 1),rgba(251, 9, 180, 1),rgba(145, 0, 248, 1));
                -webkit-background-clip: text;
                -webkit-text-fill-color: transparent;
}   
nav ul{
    display: flex;
    gap: 32px;
}
nav ul li{
    list-style: none;
}
nav ul li a{
    text-decoration: none;
    color: #fff;
    font-size: 1rem;
    font-weight: 500;
}
nav ul li a:hover{
    background: linear-gradient(90deg,rgba(247, 233, 63, 1),rgba(251, 9, 180, 1),rgba(145, 0, 248, 1));
                -webkit-background-clip: text;
                -webkit-text-fill-color: transparent;
}

/* hero section styles */

.hero{
    position: relative;
    height: 100vh;
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    background: url(assets/images/hero-bg.png) center/cover no-repeat;
}
.circle-container {
  position: relative;  
  width: 350px;
  height: 350px;
  margin-top: 50px;

}
.circle {
  width: 100%;
  height: 100%;
  display: block;
  position: relative;
  z-index: 1;
}
.mic {
  position: absolute;
  top: 50%;
  left: 50%;
  width: 120px;
  transform: translate(-50%, -50%);
  z-index: 3;
}
.badge {
  position: absolute;
  top: -16px;
  right: -28px;
  transform: translate(-80%, 80%);
  background: #00ff88;
  color: #000;
  padding: 8px 16px;
  border-radius: 1000px;
  font-size: 1rem;
  font-weight: 600;
  z-index: 2;
}
.hero h1 {
  font-size: 3.5rem;
  font-weight: 800;
  margin-bottom: 12px;
  color: #fff;
}
.hero p {
  font-size: 1rem;
  font-weight: 400;
  color: #cfcfe6;
  margin-bottom: 30px;
}
.buttons {
  display: flex;
  gap: 16px;
  flex-wrap: wrap;
  justify-content: center;
}
.buttons .btn:hover i {
  transform: translateX(-6px);
}
.btn-2 {
  display: flex;
  align-items: center;
  gap: 10px;
  padding: 12px 20px;
  border-radius: 30px;
  border: none;
  cursor: pointer;
  font-size: 1rem;
  font-weight: 600;
  transition: transform 0.4s ease;
}
.btn-2 a {
  text-decoration: none;
  color: inherit;
}

.btn-2 {
  background: transparent;
  border: 2px solid #00ff88;
  color: #00ff88;
}
.btn-2:hover {
  background: #00ff9c;
  color: #000;
}







